
PARTY_NAME="Henning Citizen Scientist"
PARTY_DESCRIPTION="52°North GmbH"
PARTY_NICKNAME="hb_2021"

TRAP_LOCATION_NAME="My Camera Trap"
TRAP_LOCATION_DESCRIPTION="A DynAIkon camera trap deployed at a local rabbit box"
TRAP_GPS_LON="6.56473"
TRAP_GPS_LAT="51.3027951"
TRAP_PROPERTIES_CITY="Krefeld"
TRAP_PROPERTIES_COUNTRY="DE"

FOI_NAME="My Rabbit Box"
FOI_DESCRIPTION="A little box, the upper part of a bigger rabbit stall"
FOI_GPS_LON="6.56473"
FOI_GPS_LAT="51.3027951"
